@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookish</h1>
    <p class="lead">Bookish is an online library used for loaning books!</p>
    <p><a href="Library/Catalogue" class="btn btn-primary btn-lg">View Library &raquo;</a></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p class="lead">Books you currently have checked out:</p>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Book Loaned</th>
            <th>Due Date</th>
        </tr>
        @foreach (var item in Model)
        {
            var dueDate = item.Key.DueDate;
            var book = item.Value;
            <tr>
                <td>@book.Title, @book.Author</td>
                <td>@dueDate.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <div>
            <h2>Getting started</h2>
            <p>
                Don't have an account? Click the button below to register
            </p>
            <p><a class="btn btn-default" href="Account/Register">Register &raquo;</a></p>
        </div>
    </div>
}